:root {
  color-scheme: light dark;
	--color-accent: rgb(32, 32, 215);
  --color-code-bg: #f6f6f6;
  --color-code-ins: rgba(142, 199, 125, 0.6);
  --color-code-del: rgba(255, 156, 142, 0.6);
  --color-bg: white;
  --color-main: hsl(224, 10%, 10%);
  --color-tip: rgb(102, 8, 145);
  --color-tip-bg: rgb(237, 209, 250);
  --font-size-code: 0.8rem;
  --width-nav: 25vw;

  @media (prefers-color-scheme: dark) {
    --color-accent: rgb(155, 155, 254);
    --color-code-bg: rgb(35, 38, 47);
    --color-code-ins: rgba(30, 87, 21, 0.6);
    --color-code-del: rgba(134, 45, 39, 0.6);
    --color-bg: rgb(23, 24, 28);
    --color-main: white;
    --color-tip: rgb(235, 204, 250);
    --color-tip-bg: rgb(64, 34, 78);
  }
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 20px;
  color: var(--color-main);
  background-color: var(--color-bg);
  line-height: 1.75;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  scroll-padding-top: 3em;
  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  @media (max-width: 1000px) {
    font-size: 18px;
    padding: 1em;
  }
}

p {
  margin: 1lh 0;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  line-height: 1.2;
  margin-top: 1.75lh;
  scroll-margin-top: 4rem;
}
h1 {
  font-size: 2.75em;
  @media (max-width: 1000px) {
    font-size: 2.5em;
  }
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.25em;
}

ol, ul {
  padding-left: 1.5em;
  @media (min-width: 1000px) {
    padding-left: 0;
  }
}
li > ol, li > ul {
  padding-left:1.5em
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 1px solid lightgray;
  padding-left: 1em;
  margin-left: 0;
}

a {
  color: var(--color-accent);
}

button, a.button {
  display: inline-block;
  -webkit-user-select: none;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  border-radius: 999rem;
  cursor: pointer;
  line-height: normal;
  padding: 1em 1.5em;
  margin-right: 1em;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  color: light-dark(white, black);
  text-decoration: none;
  text-align: center;
  &.-secondary {
    background-color: transparent;
    border-color: var(--color-main);
    color: var(--color-main);
  }
  &.-minimal {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-main);
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
p > a.button {
  margin-bottom: 1em;
}

@media (max-width: 1000px) {
  p > code {
    word-break: break-all;
  }
}
code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: var(--font-size-code);
  background-color: var(--color-code-bg);
  padding: 0.2em 0.4em;
  hyphens: manual;
}
pre {
  max-width: 100%;
  background-color: var(--color-code-bg);
  font-size: var(--font-size-code);
  margin-top: 0;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  > .insOrDel {
    position: absolute;
    z-index: 1;
    height: 1lh;
    width: 100%;
    &.-ins {
      background-color: var(--color-code-ins);
    }
    &.-del {
      background-color: var(--color-code-del);
    }
  }
}
main pre > code.hljs {
  display: block;
  padding: 0.5lh;
  background-color: transparent;
  position: relative;
  z-index: 2;
}
figure {
  margin: 0;
}
figure:has(> pre) {
  position: relative;
  > button {
    display: none;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    background: var(--color-code-bg);
    border: 1px solid color-mix(in srgb, var(--color-main), transparent 70%);
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.075em 0.3em;
    margin: 0.25em;
    color: color-mix(in srgb, var(--color-main), transparent 50%);
    &:hover {
      background-color: color-mix(in srgb, var(--color-code-bg), var(--color-main) 10%);
    }
    + .copied {
      display: none;
      color: var(--color-main);
      font-size: var(--font-size-code);
      position: absolute;
      right: 4em;
      top: 3em;
    }
  }
  &:hover > button {
    display: block;
  }
}
figure:has(> figcaption + pre) {
  > figcaption {
    display: inline;
    background-color: var(--color-code-bg);
    padding: 0.5em 1em;
    font-size: 0.9rem;
    border-top: 1px solid grey;
    z-index: 3;
    position: relative;
  }
  > pre {
    border-top: 1px solid grey;
  }
  > button {
    top: 1lh;
  }
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
  text-align: left;
}
td:not(:last-child), th:not(:last-child) {
  padding-right: 1em;
}

input:not(:where([type=radio], [type=checkbox], [type=file])) {
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
}

form {
  > label {
    font-weight: bold;
    margin-right: 1em;
  }
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.25em 1em;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  backdrop-filter: blur(5px);

  @media (max-width: 1000px) {
    backdrop-filter: blur(20px);
    padding: 0em 0.5em;
    font-size: 1.25rem;
  }
  > div {
    display: flex;
    @media (min-width: 1000px) {
      > a:first-child {
        margin-right: 1em;
      }
    }
  }
  > a, .headerLink {
    color: var(--color-main);
    text-decoration: none;
    padding-right: 1rem;
    @media (max-width: 1000px) {
      padding-right: 0.25em;
    }
  }
  .headerLink {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.575em;
    @media (max-width: 1000px) {
      padding-top: 0.3em;
    }
  }
}

main, footer {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  margin-top: 3em;
  line-height: 1.25;
  margin-bottom: 2em;
  @media (min-width: 1000px) {
    margin-bottom: 3em;
  }
  :nth-child(2) {
    text-align: right;
  }
  a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }
  div {
    font-size: 1rem;
    margin-bottom: 0.25em;
  }
}

@media (max-width: 1000px) {
  main > h1:first-child {
    margin-top: 1em;
  }
}

main.hero {
  h1 {
    text-align: center;
    margin: 2em 0 1em 0;
    @media (max-width: 1000px) {
      font-size: 2.25em;
    }
  }
}

.toc {
  padding-left: 0;
  div {
    font-weight: bold;
    margin-top: 0.75em;
  }
  li {
    list-style-type: none;
  }
}

.tip {
  color: var(--color-tip);
  background-color: var(--color-tip-bg);
  border-radius: 5px;
  padding: 0.5em 1.5em;
  > h2 {
    font-size: 1.2em;
    margin-top: 1.25em;
  }
  a {
    color: var(--color-tip);
  }
  ol, ul {
    padding-left: 1.2em;
  }
}


@media (min-width: 1000px) {
  .col2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5em;
    > div > *:first-child {
      margin-top: 0;
    }
    &.-vertical-center {
      align-items: center;
    }
  }
}
.col3 > ul {
  list-style-type: none;
  padding-left: 0;
  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1em;
  }
}

:popover-open {
  margin-top: 4rem;
  max-height: calc(100vh - 7rem);
  overflow-y: scroll;
  box-shadow: 5px 10px 40px color-mix(in srgb, var(--color-main), transparent 30%);
  border: 0;
  border-radius: 15px;
  padding: 1em;
  box-sizing: border-box;
  min-width: min(40em, 100vw);
  width: min(40em, 100vw);
  @media (min-width: 1000px) {
    margin-left: 10rem;
  }
}

#searchBtn {
  margin-right: auto;
  padding: 0.5rem;
  > svg {
    position: relative;
    top: -2px;
    left: -7px;
  }
  > span {
    display: none;
  }
  @media (min-width: 1000px) {
    > svg {
      display: none;
    }
    > span {
      font-size: 16px;
      font-weight: normal;
      color: #757575;
      border: 1px solid #bbbbbb;
      background-color: color-mix(in srgb, var(--color-bg), transparent 30%);
      border-radius: 5px;
      padding: 0.5em 4em 0.5em 0.75em;
      margin-top: -0.1em;
      display: block;
      cursor: text;
    }
  }
}
search {
  font-size: 1rem;
  font-weight: normal;
  @media (max-width: 1000px) {
    max-width: calc(100vw - 15rem);
  }

  > input {
    width: calc(100% - 2em);
  }
  > h2 {
    font-size: 1.5rem;
    margin-top: 1em;
  }
  > button {
    position: absolute;
    top: 5px;
    right: -12px;
  }
  li {
    font-size: 1rem;
    list-style-type: none;
    margin: 0.75em 0 1em 0;
    > p {
      margin: 0;
    }
  }
  a {
    text-decoration: none;
    font-weight: bold;
  }
  > div > ul {
    padding-left: 0;
    > li {
      font-size: 1.25rem;
      margin-bottom: 2em;
    }
  }
}

.tabs {
  position: relative;
  margin-top: 4em;
  pre {
    border-top: 1px solid grey;
  }
  summary {
    z-index: 10;
    display: block;
    position: absolute;
    top: -2.25em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    background-color: var(--color-code-bg);
    padding: 0.25em 1em;
    height: 1.7em;
    overflow: clip;
    word-break: break-all;
    font-size: 0.9rem;
    @media (max-width: 1000px) {
      font-size: 0.725rem;
    }
  }
  > details[open] > summary {
    border-top: 1px solid grey;
    height: 1.9em;
    pointer-events: none;
  }
  > details:nth-child(2) > summary {
    left: 11.75em;
  }
}

.center-text {
  text-align: center;
}

.pagespeed {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  img {
    width: 3.5em;
    margin: 0.8em auto;
  }
}

.sidebar {
  padding-right: 1em;
  box-sizing: border-box;
  overflow-y: scroll;
  margin-top: 3rem;
  @media (min-width: 1000px) {
    font-size: 0.75em;
    margin-top: 0;
    padding-left: 1em;
    position: fixed;
    left: 0;
    height: calc(100vh - 6rem);
    width: var(--width-nav);
    > summary {
      display: none;
    }
    > nav > ul {
      margin-top: 0;
    }
  }
  summary {
    font-weight: bold;
  }
  details > ol {
    padding-left: 1em;
  }
  li {
    list-style-type: none;
  }
  a {
    color: var(--color-main);
    text-decoration: none;
    line-height: 1.25;
    display: inline-block;
    padding-bottom: 0.5em;
  }
  [aria-current=page] {
    font-weight: bold;
  }
}
@media (min-width: 1000px) {
  .sidebar + main,
  .sidebar + main + footer {
    margin-left: calc(var(--width-nav) + 1em);
    box-sizing: border-box;
    padding: 0 3em;
  }
}

.anchor {
  text-decoration: none;
  color: var(--color-main);
  display: block;
  &:hover::after {
    content: " #";
    color: var(--color-accent);
    @media (min-width: 1000px) {
      position: absolute;
      padding-left: 0.25em;
    }
  }
}

.diagram > ul > li {
  list-style-type: none;
  border: 1px solid var(--color-main);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1.25em 0;
  max-width: 30ch;
  text-align: center;
  position: relative;
  &:not(:last-child)::after {
    content: '↓';
    display: block;
    position: absolute;
    left: 50%;
    font-size: 1.25em;
    padding-top: 0.04em;
  }
}

@view-transition {
  navigation: auto;
}
