:root {
  color-scheme: light dark;
	--color-accent: rgb(32, 32, 215);
  --color-code-bg: #f6f6f6;
  --color-code-ins: rgba(142, 199, 125, 0.6);
  --color-code-del: rgba(255, 156, 142, 0.6);
  --color-bg: white;
  --color-main: hsl(224, 10%, 10%);
  --color-tip: rgb(102, 8, 145);
  --color-tip-bg: rgb(237, 209, 250);
  --font-size-code: 0.8rem;
  --width-nav: 25vw;

  @media (prefers-color-scheme: dark) {
    --color-accent: rgb(155, 155, 254);
    --color-code-bg: rgb(35, 38, 47);
    --color-code-ins: rgba(30, 87, 21, 0.6);
    --color-code-del: rgba(134, 45, 39, 0.6);
    --color-bg: rgb(23, 24, 28);
    --color-main: white;
    --color-tip: rgb(235, 204, 250);
    --color-tip-bg: rgb(64, 34, 78);
  }
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 20px;
  color: var(--color-main);
  background-color: var(--color-bg);
  line-height: 1.75;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

body {
  margin: 0;
  @media (max-width: 1000px) {
    font-size: 18px;
    padding: 1em;
  }
}

p {
  margin: 1lh 0;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  line-height: 1.2;
  margin-top: 1.75lh;
  scroll-margin-top: 4rem;
}
h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.25em;
}

ol, ul {
  padding-left: 1.5em;
  @media (min-width: 1000px) {
    padding-left: 0;
  }
}
li > ol, li > ul {
  padding-left:1.5em
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-accent);
}

button, a.button {
  display: inline-block;
  -webkit-user-select: none;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  border-radius: 999rem;
  cursor: pointer;
  line-height: normal;
  padding: 1em 1.5em;
  margin-right: 1em;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  color: light-dark(white, black);
  text-decoration: none;
  text-align: center;
  &.-secondary {
    background-color: transparent;
    border-color: var(--color-main);
    color: var(--color-main);
  }
  &.-minimal {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-main);
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
p > a.button {
  margin-bottom: 1em;
}

code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: var(--font-size-code);
  background-color: var(--color-code-bg);
  padding: 0.2em 0.4em;
}
pre {
  max-width: 100%;
  background-color: var(--color-code-bg);
  font-size: var(--font-size-code);
  margin-top: 0;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  > .insOrDel {
    position: absolute;
    z-index: 1;
    height: 1lh;
    width: 100%;
    &.-ins {
      background-color: var(--color-code-ins);
    }
    &.-del {
      background-color: var(--color-code-del);
    }
  }
}
main pre > code.hljs {
  display: block;
  padding: 0.5lh;
  background-color: transparent;
  position: relative;
  z-index: 2;
}
figure {
  margin: 0;
}
figure:has(> pre) {
  position: relative;
  > button {
    display: none;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    background: var(--color-code-bg);
    border: 1px solid color-mix(in srgb, var(--color-main), transparent 70%);
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.075em 0.3em;
    margin: 0.25em;
    color: color-mix(in srgb, var(--color-main), transparent 50%);
    &:hover {
      background-color: color-mix(in srgb, var(--color-code-bg), var(--color-main) 10%);
    }
    + .copied {
      display: none;
      color: var(--color-main);
      font-size: var(--font-size-code);
      position: absolute;
      right: 4em;
      top: 3em;
    }
  }
  &:hover > button {
    display: block;
  }
}
figure:has(> figcaption + pre) {
  > figcaption {
    display: inline;
    background-color: var(--color-code-bg);
    padding: 0.5em 1em;
    font-size: 0.9rem;
    border-top: 1px solid grey;
    z-index: 3;
    position: relative;
  }
  > pre {
    border-top: 1px solid grey;
  }
  > button {
    top: 1lh;
  }
}

input:not(:is([type=radio], [type=checkbox], [type=file])) {
  font-family: inherit;
  font-size: 16px;
  border: 2px solid #bbbbbb;
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
}

form {
  > label {
    font-weight: bold;
    margin-right: 1em;
  }
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.25em 1em;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  backdrop-filter: blur(5px);

  @media (max-width: 1000px) {
    backdrop-filter: blur(20px);
    padding-left: 0.5em;
  }
  > a:first-child {
    color: var(--color-main);
    text-decoration: none;
  }
}

main, footer {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  margin-top: 3em;
  line-height: 1.25;
  margin-bottom: 2em;
  @media (min-width: 1000px) {
    margin-bottom: 3em;
  }
  :nth-child(2) {
    text-align: right;
  }
  a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
  }
  div {
    font-size: 1rem;
    margin-bottom: 0.25em;
  }
}

@media (max-width: 1000px) {
  main > h1:first-child {
    margin-top: 1em;
  }
}

main.hero {
  h1 {
    text-align: center;
    margin: 2em 0 1em 0;
  }
}

.sidebar {
  padding-right: 1em;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 0.75em;
  margin-top: 3rem;
  @media (min-width: 1000px) {
    margin-top: 0;
    position: fixed;
    left: 0;
    height: calc(100vh - 4em);
    width: var(--width-nav);
    > summary {
      display: none;
    }
  }
  summary {
    font-weight: bold;
  }
  ul {
    padding-left: 1em;
  }
  li {
    list-style-type: none;
  }
  a {
    color: var(--color-main);
    text-decoration: none;
    line-height: 1.25;
    display: inline-block;
    padding-bottom: 0.5em;
  }
  [aria-current=page] {
    font-weight: bold;
  }
}
@media (min-width: 1000px) {
  .sidebar + main,
  .sidebar + main + footer {
    margin-left: calc(var(--width-nav) + 1em);
    box-sizing: border-box;
    padding: 0 3em;
  }
}

.anchor {
  text-decoration: none;
  color: var(--color-main);
  display: block;
  &:hover::after {
    content: " #";
    color: var(--color-accent);
  }
}

.tip {
  color: var(--color-tip);
  background-color: var(--color-tip-bg);
  padding: 0.5em 1.5em;
  > h2 {
    font-size: 1.2em;
    margin-top: 1.25em;
  }
  a {
    color: var(--color-tip);
  }
  ol, ul {
    padding-left: 1.2em;
  }
}
